:root {
    /* color's palet */
    --primary-text-color: #434455;
    --primary-page-color: #2E2F42;
    --accent-color: #4D5AE5;
    --hover-accent-color: #404BBF;
    --primary-white-color: #FFFFFF;
    --light-accent-color: #F4F4FD;
    --alternative-color: #E7E9FC;
    --icon-customers-color: #8E8F99;
    --hover-green-color: #31D0AA;
    --bg-modal-color: #FCFCFC;

    /* typographic variables*/
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --main-font-size: 16px;
    --main-title-font-size: 36px;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --logo-font-weight: 800;

    --items: 3;
    --indent: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;

}

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/** ============================== COMPONENTS ============================== **/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 319px) {
    .section {
        min-width: 319px;
    }

    .container {
        width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width:479px) {
    .section {
        min-width: 320px;
        max-width: 479px;
    }
}

@media screen and (min-width: 480px) and (max-width:767px) {
    .container {
        max-width: 428px;
    }
}

.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    display: inline-block;
    font-family: var(--logo-font);
    color: var(--accent-color);
    font-size: 18px;
    font-weight: var(--logo-font-weight);
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
    line-height: 1.33;
}

.logo-studio-black {
    color: var(--primary-page-color);
}

.footer-logo {
    color: var(--light-accent-color);
}

.subtitle {
    margin-top: 0;
    margin-bottom: 72px;
    text-align: center;
    font-weight: var(--font-weight-bold);
    font-size: var(--main-title-font-size);
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--primary-page-color);
}

.section-colored {
    background-color: var(--light-accent-color);

}

.methods {
    margin-bottom: 8px;
    margin-top: 0;

    font-size: var(--main-title-font-size);
    font-weight: var(--font-weight-bold);
    line-height: 1.11;

    color: var(--primary-page-color);
}

.description {
    margin-bottom: 8px;
    font-size: var(--main-font-size);
    font-weight: 400;
    color: var(--primary-text-color);

}

.subscribe-text {
    padding: 16px 32px;
    font-family: inherit;
    font-weight: var(--font-weight-medium);
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .15);

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-text:hover,
.subscribe-text:focus {
    background-color: var(--hover-accent-color);
    border-color: var(--hover-accent-color);
}

.menu-container .cont {
    position: relative;

}

.menu-burger {
    stroke: var(--primary-page-color);
}

.menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    min-height: 22px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--primary-page-color);
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    background-color: var(--primary-white-color);
    z-index: 999;

    transform: translatex(100%);
    transition: transform 500ms ease-in-out, visibility 500ms step-end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    visibility: hidden;
}

.menu-container.is-open {
    transform: translateX(0);
    visibility: visible;
    transition: transform 500ms ease-in-out, visibility 500ms step-start;
}

.menu-toggle.close-btn {
    position: absolute;
    min-height: 24px;
    min-width: 24px;
    top: 24px;
    right: 24px;
    color: var(--primary-page-color);
    border-radius: 50%;
    background-color: var(--alternative-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: var(--primary-text-color);
}

.menu-container .menu-toggle.close-btn:hover,
.menu-container .menu-toggle.close-btn:focus {
    background-color: var(--hover-accent-color);
    border-color: var(--hover-accent-color);
    fill: var(--primary-white-color);
}

.mob-menu {
    padding: 0;
    margin: 0;
}

.mob-menu.socials {
    margin-top: auto;
}

.menu-container .menu-link {
    display: block;
    color: var(--primary-page-color);
    text-decoration: none;
    margin-bottom: 40px;
}

.mob-menu .menu-link {
    font-weight: var(--font-weight-bold);
    font-size: var(--main-title-font-size);
    line-height: 1.11;

}

.mob-menu.pages {
    user-select: none;
}

.mob-menu.pages {
    user-select: none;
}

.mob-menu.pages .menu-link:hover,
.mob-menu.pages .menu-link:focus {
    color: var(--hover-accent-color);
}

.mob-menu.socials .menu-link.phone {
    font-size: 36px;
    font-weight: 500;

    letter-spacing: .01em;
}

.mob-menu.socials .menu-link.email {
    font-size: 20px;
    font-weight: var(--font-weight-medium);

}

.mob-menu.socials .menu-link.email:hover,
.mob-menu.socials .menu-link.email:focus {
    color: var(--hover-accent-color);
}

.mob-menu.socials .menu-link.phone:hover,
.mob-menu.socials .menu-link.phone:focus {
    color: var(--hover-accent-color);
}

.mob-menu .icon-list {
    display: flex;
    justify-content: space-between;
}

.mob-menu .icon {
    width: 24px;
    height: 24px;
}

/*----------------Components--------------*/
